<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../public/images/favicon.ico">



  <title>ACH Trucking</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="/public/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Rakkas" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
</head>

<header>
  <nav class="navbar navbar-expand-md navbar-dark static-top bg-dark">
    <a class="navbar-brand" href="#" id="main">ACH Trucking</a>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#routes">Our Routes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>

      </ul>

    </div>
  </nav>
</header>

<body>

  <main role="main">


    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-aos="zoom-in">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide img-responsive" src="../public//images//california-210913_1920.jpg" alt="First slide">  
          <div class="container">
            <div class="carousel-caption text-center">
              <h1 data-aos="fade-right" data-aos-duration="4000">Welcome to ACH Trucking</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="https://lh3.googleusercontent.com/ft1D5oZHsZzDvxrw6LiE2HGTES80YF7xnjxKYO12kb5LJNmuu46vwIIzvvf8Nc8ZBZos3_8RKEgaR-C8iRzvvc33vk7Tlx_rmcLqesa_PmtpJuwp-UuiAA_aBScq_mNxrQfvay8_EQ=w2400"
            alt="Second slide">
          <div class="container">
            <div class="carousel-caption text-center">
             <h1 data-aos="fade-right" data-aos-duration="4000" id="caption2">Employee Owned & Operated</h1>
              
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="../public/images/truck-2677373_1920.jpg"
            alt="Third slide">
          <div class="container">
            <div class="carousel-caption ">
               <h1 data-aos="fade-right" data-aos-duration="4000" id="caption2">Delivering Cross-Country Excellence Since 2004</h1>
            </div>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
          <div class="scroll-down"></div>
    </div>

    </div>










    <!-- Marketing messaging and featurettes
      ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing" id="about">




      <h1 data-aos="flip-down">About Us</h1>

      <!-- Three columns of text below the carousel -->
      <div class="row">

        <div class="col-lg-4" data-aos="flip-down" data-aos-duration="4000">
          <img class="rounded-circle img-responsive" src="https://lh3.googleusercontent.com/yU8smIHAd1KUaV6cJ9w9x7etYkKUl-hNZXVhArAKvIzW65LnB-6W39QkO28-uUj6JwPUaYjSVWuLWpS45TwFWdm63yIr4AoVoER5FwH-_rDHLiIMWxPXHzZ88OD84BOA2ceJUyuXKA=w2400"
            alt="Generic placeholder image" width="350" height="300">
          <br>
          <br>
          <h2>Our Equipment</h2>
          <br>
          <p>We have some of the finest equipment on the road. Ranging from our Volvo trucks, years 2016 and newer, with I-Shift transmission. Our Great Dane reefer trailers, 2016 and newer. And our Electronic Logging Devices, now using Verizon Connect. </p>

        </div>


        <div class="col-lg-4" data-aos="flip-down" data-aos-duration="4000">
          <img class="rounded-circle img-responsive" src="https://lh3.googleusercontent.com/_0W7X1ec999-gq2x-aWMCP3J2rfJw5URcZmR88jkY7mx4Ei3XU7OowExcOFaMCraHOo2UHIHgQpNfKVPunXrlrzhjitnXJr1c0fezfLP6RAUtaMH3WD7HxUnJGo5HwiimESG2BnFLA=w2400"
            alt="Generic placeholder image" width="350" height="300">
          <br>
          <br>
          <h2>Our History</h2>
          <br>
          <p>Founded in 2004, as a single driver company, ACH Trucking has grown to a fleet of over 10 trucks. We have a small-business, family-oriented culture, which takes pride in the work we do. If you are interested in driving for us, check out the "Contact Us" section below.</p>



        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" data-aos="flip-down" data-aos-duration="4000">
          <img class="rounded-circle img-responsive" src="https://lh3.googleusercontent.com/zwUsJljDMcD_G2PKYTuHAa0Ngtby22Y-3SpPJtCNYsLkW9OD8t9x1LzPj-maxRfi1DrK13nJzt9CUFkGZmLvu7hFRBbSUoihygjck1d3kRktW9BXYUt4LxyzuMeBRMR_QrMId98J0A=w2400"
            alt="Generic placeholder image" width="350" height="300">
          <br>
          <br>
          <h2>Our Mission</h2>
          <br>
          <p>At ACH Trucking our mission has always been to provide a consistent, safe, and reliable service, while also ensuring our company values align with those of our employees, as well as our clients. </p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div>
    <br>
    <br>
    </div>
 
    <div class="scroll-down"></div>





    <!-- START THE FEATURETTES -->






  





    <h1 id="routes"></h1>
    <div class="container " id="routes1" align="center" data-aos="zoom-in" data-aos-duration="2000">
      {{!-- <h1 class="brand"><span>ACH</span> Trucking</h1> --}}
      <h1>Our Routes</h1>

      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=17XYm1tb4lXa2aJTDg9k2C8wMafpIruDh" width="1200" height="600"
        frameborder="0" style="border:0" data-aos="zoom-in" data-aos-duration="3000"></iframe>
    </div>
      <div class="scroll-down"></div>



    <div class="container" data-aos="zoom-in" id="contact">
      <h1>Contact Us</h1>

      <div class="wrapper animated bounceInLeft">
        <div class="company-info">
          <h1 id="main1">ACH Trucking</h1>
        </div>
        <div class="contact">
          <h3 id="two">Email Us</h3>
          {{msg}}
          {{!-- POST ROUTE --}}
          <form method="POST" action="send">
            <p>
              <label>Name</label>
              <input type="text" name="name">
            </p>

            <p>
              <label>Email Address</label>
              <input type="email" name="email">
            </p>
            <p>
              <label>Phone Number</label>
              <input type="text" name="phone">
            </p>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Subject</label>
              <select class="form-control" name="exampleFormControlSelect1">
                <option>Driver Application</option>
                <option>General Inquiry</option>
                <option>Other</option>
              </select>
            </div>
            <p class="full">
              <label>Message / Tell us about yourself</label>
              <textarea name="message" rows="5"></textarea>
            </p>
            <p class="full">
              <button type="submit" data-aos="fade-right" data-aos-duration="6000">Submit</button>
            </p>
          </form>
        </div>
      </div>

    </div>
    <footer>
      <div class="footer-copyright text-center py-3" >© 2018 Copyright:
        <a href="https://www.linkedin.com/in/maxim-chadliev/"> MC</a>
      </div>
    </footer>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha256-dHf/YjH1A4tewEsKUSmNnV05DDbfGN3g7NMq86xgGh8="
    crossorigin="anonymous"></script>
  <script id="data" type="application/json" src="../app.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>AOS.init({
      duration: 1500,
      disable: function () {
        var maxWidth = 800;
        return window.innerWidth < maxWidth;
      }
    })</script>


</body>

</html>